head{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu Mono', monospace;  
}
body{
    margin: 0%;
}
.first-hd{
    font-size: 70px;
    border-left: 5px solid orange;
    padding-left: 10px;
    
}
.color-line{
    color:coral;
}
.flex-cont{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-width img{
    width: 70%;
    padding-left: 5%;
}
.blog{
    font-size: 20px;
    margin-bottom: 8%;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
    padding: 10px 50px;
}
#scroll-line{   
   margin-top: 8%;
}
.centre-hd{
   font-size: 50px; 
   text-align: center;
}
.sec-2-boxes{
    margin: 40px 120px;
}
.illus-pic{
    width: 50%;
}
.boxes{
    width: 30%;  
    border-radius: 20px;  
    padding: 10px 30px;
    margin: 0 10px;

}
#l-box{
    background-color: silver;   
}
#m-box{
    background-color: peachpuff;
}
#r-box{
    background-color: palegreen;
}
.sec-middle-hd{
    font-size: 50px;
}
.sec-middle{
    width: 1500px;
    margin-top: 45px;
    margin-right:85px;
}
.sec-middle-pic img{
    width: 60%;
    margin-top: 10%;
    padding-left: 25%;
}
.sec-middle2{
    width: 50%;
    margin-top: 5%;
    padding-left: 10%;
}
.sec-middle2 img{
    width: 70%;
}
#my-skill{
    margin-left: 10%;
}
#sec-last{
    margin: 6% 0;
}
#last-part{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}
.skill{
    width: 50%;
    padding: 10px 30px;
    margin: 0 2%;
    background-color: beige;
    border-top: 5px solid rgb(238, 55, 30);
    box-shadow: 5px 5px 15px gray;
}
#painting img{
    width: 50%;
}
#travel img{
    width: 50%;
}
footer{
    text-align: center;
    color: white;
    background: black;
    padding: 2% 0;
}