head{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu Mono', monospace;  
}
body{
    margin: 0%;
}
#first-hd{
    font-size: 70px;
    border-left: 5px solid orange;
    padding-left: 10px;
    
}
.color-line{
    color:coral;
}
.flex-cont{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-top: 5%;
}
.half-width img{
    width: 70%;
    padding-left: 5%;
}
.blog{
    font-size: 20px;
    margin-bottom: 8%;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(orange,tomato);
    border-radius: 5px;
    padding: 10px 50px;
}
#scroll-line{   
margin-top: 8%;
}
.centre-hd{
   font-size: 50px; 
   text-align: center;
}
.sec-2-boxes{
    margin: 40px 120px;
}
.illus-pic{
    width: 50%;
}
.boxes{
width: 30%;  
border-radius: 20px;  
padding: 10px 30px;
margin: 0 10px;

}
#l-box{
    background-color: silver;   
}
#m-box{
    background-color: peachpuff;
}
#r-box{
    background-color: palegreen;
}
.sec-middle-hd{
    font-size: 50px;
}
.sec-middle{
    width: 1500px;
    margin-top: 5%;
    margin-left: 0;
    margin-right:10%;
}
.sec-middle2 img{
    width: 60%;
    margin-top: 5%;
    padding-left: 25%;
}
